*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    width: 100%;
    height: 85px;
    background-color: white;
}

h1{
    font-weight: bold;
    line-height: 100px;
    display: inline-block;
    vertical-align: middle;
}
/* logo_header */
.logo{
    display: inline-block;
    margin: -1px 5px 0 25px;
    vertical-align: middle;
}
/* main */
.main_background{
    width: 100%;
    height: 500px;
    background-color: lightgrey;
    padding-top: 25px;
    padding-bottom: 5px;
}

.container{
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: white;
}


.top__section__buttons{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px grey solid;
}

.single__button_1{
    background-color:#47adf1;
    width: 14%;
    height: 40%;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 12px;
}

.single__button_2{
    background-color: rgb(245, 248, 248);
    width: 14%;
    height: 40%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 12px;
}

h2, p{
    display: inline-block
}

li{
    list-style: none;
}



